body {
  background:#f7f7f8;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.line-style {
  height: 15%!important;
}

nav#menu ul {
  padding: 0;
  list-style: none;
}

nav#menu ul li, nav#menu ul li a {
  color: #f5f5f5;
}

.bm-burger-bars {
  cursor: pointer!important;
  background-color: #ffffff!important;
}

.bm-menu {
  cursor: pointer!important;
  background-color: #282828!important;
}

.bm-overlay {
  background: none!important;
}

.bm-burger-button {
  top: 15px!important;
  left: 0!important;
}

.login-form, .forgot-password-form {
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin-top: 14vh;
  margin-bottom: 14vh;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.register-form {
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.register-form-button {
  width: 100%;
}

.new-job-application-wrapper {
  margin-top: 1em;
}

.new-job-application-wrapper .job-application-form {
  margin-top: 1em
}
