<template>
  <div class="container">
    <a-row>
      <a-col :span="($mq === 'mobile') ? 22 : 12" :offset="($mq === 'mobile') ? 1 : 6">
        <div class="about-wrapper">
          <p>
            <strong>npune.com</strong> është një platformë online e destinuar për gjetje të punës dhe një karriere më të mirë. Misioni ynë është të ndihmojmë njerëzit të gjejnë punë, të ndimojmë punëdhënësit të gjejnë punëtor, roli jonë si ndërmjetsues në këtë rast do të ndihmoj që dy palët te kursejnë kohë, kosto dhe shfrytëzuesit të jenë në kontakt cdo herë punët e reja. Punëdhënësi dhe Punëmarrësi do të kenë mundësi ti kateogrizonë kërkesat e tyre në mënyre shumë të lehtë përmes website-it npune.com dhe platformave sociale.
          </p>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import loginMutation from "@/apollo/mutations/login.gql";
import userCurrentQuery from "@/apollo/queries/userCurrent.gql";

import { Form } from "ant-design-vue";

export default {
  head() {
    return {
      title: "About Us"
    };
  },

  components: {},

  data() {
    return {
      isAuthenticated: false,
      submitting: false,
      errors: false
    };
  },

  mounted() {
    this.isAuthenticated = !!this.$apolloHelpers.getToken();
  },

  watch: {},

  computed: {},

  methods: {}
};
</script>

<style>
.about-wrapper {
  text-align: center;
  padding: 20px;
  margin-top: 16vh;
  margin-bottom: 18vh;
}
</style>

