<template>
  <div class="container contact-wrapper">
    <a-row>
      <a-col :span="($mq === 'mobile') ? 22 : 12" :offset="($mq === 'mobile') ? 1 : 6">
          <p>Mos hezitoni të na kontaktoni me pyetje, komente apo sygjerime.</p>
        <strong>info@npune.com</strong>
      </a-col>
    </a-row>
  </div>
</template>

<script>
  export default {

  }
</script>

<style>
  .contact-wrapper {
    text-align: center;
    padding: 20px;
    margin-top: 24vh;
    margin-bottom: 25vh;
  }
</style>
