<template>
  <div>
    <div
      class="container content-wrapper"
      :class="$mq === 'mobile' ? 'mobile-content-wrapper' : ''"
      :style="$mq === 'mobile' ? { backgroundImage: 'url(' + require(`@/assets/images/filterbg.png`) + ')' } : ''"
    >
      <!--<div class="job-content-header">-->
      <!--<a-row>-->
      <!--<a-col :span="6" :xs="12">-->
      <!--<strong>Jobs</strong>/<strong>All Positions</strong>-->
      <!--</a-col>-->

      <!--<a-col-->
      <!--:span="6"-->
      <!--:offset="$mq !== 'mobile' ? 12 : 0"-->
      <!--:xs="12"-->
      <!--&gt;-->
      <!--<a-row type="flex" justify="end">-->
      <!--<strong>Showing:&nbsp;{{ job_applications.length }}</strong>&nbsp;from&nbsp;<strong> {{ total }}</strong>&nbsp;jobs-->
      <!--</a-row>-->
      <!--</a-col>-->
      <!--</a-row>-->
      <!--</div>-->
      <div class="job-content" :class="$mq === 'mobile' ? 'mobile-job-content' : ''">
        <div class="job-main-filters">
          <a-row>
            <a-col :span="8" :xs="16" :offset="$mq === 'mobile' ? 4 : 0">
              <a-row type="flex" :justify="$mq === 'mobile' ? 'center' : 'start'">
                <a-button
                  icon="reload"
                  v-if="$mq !== 'mobile'"
                  @click="clearSearchFilters"
                >Fshij kërkimin</a-button>
                <div class="mobile-over-filters" v-else>
                  <nuxt-link to="/new-job-application">
                    <a-button class="mobile-add-btn" icon="paper-clip" type="primary">Posto shpallje</a-button>
                  </nuxt-link>&nbsp;
                  <p class="mobile-clear-p">Të gjitha shpalljet</p>
                  <a-button
                    @click="clearSearchFilters"
                    class="mobile-reset-search"
                    shape="circle"
                    icon="reload"
                  ></a-button>
                </div>
              </a-row>
            </a-col>

            <!--<a-col :span="8" :xs="10" :offset="$mq !== 'mobile' ? 4 : 4">-->
            <!--<a-row type="flex" justify="end">-->
            <!--<a-dropdown>-->
            <!--<a-menu slot="overlay" @click="sortMenuClick">-->
            <!--<a-menu-item key="1"><a-icon type="calendar" />Published</a-menu-item>-->
            <!--<a-menu-item key="2"><a-icon type="line-chart" />Alphabetically</a-menu-item>-->
            <!--&lt;!&ndash;<a-menu-item key="3"><a-icon type="team" />Employer</a-menu-item>&ndash;&gt;-->
            <!--&lt;!&ndash;<a-menu-item key="4"><a-icon type="environment-o" />Place</a-menu-item>&ndash;&gt;-->
            <!--</a-menu>-->
            <!--<a-button style="margin-left: 8px">-->
            <!--Sort By <a-icon type="down" />-->
            <!--</a-button>-->
            <!--</a-dropdown>-->
            <!--</a-row>-->
            <!--</a-col>-->
          </a-row>
        </div>

        <div class="job-main">
          <a-col :xs="24" v-if="$mq === 'mobile'">
            <a-row class="mobile-filters-wrapper">
              <a-col :xs="11">
                <label for="mobile_cat_pick">Kategoria</label>
                <a-select
                  id="mobile_cat_pick"
                  style="width: 160px"
                  v-model="filters.mobileCategory"
                  @change="handleCategoryChange"
                >
                  <a-select-option
                    v-for="(cat,i) of categories"
                    :key="'mobile_cat_' + i"
                    :value="cat.id"
                  >{{ cat.name }} ({{ cat.count_posts }})</a-select-option>
                </a-select>
              </a-col>
              <a-col :xs="11" :offset="2">
                <label for="mobile_city_pick">Qyteti</label>
                <a-select
                  id="mobile_city_pick"
                  style="width: 165px"
                  v-model="filters.mobileCity"
                  @change="handleCityChange"
                >
                  <a-select-option
                    v-for="(city, i) of cities"
                    :key="'mobile_city_' + i "
                    :value="city.id"
                  >{{ city.name }} ({{ city.count_posts}})</a-select-option>
                </a-select>
              </a-col>
            </a-row>
          </a-col>

          <a-col :span="6" :sm="6" :md="6" :lg="6" :xs="18" v-else>
            <div class="job-advanced-filters">
              <!--<p>Published</p>
              <div>
                <a-checkbox @change="showOnlyTodayListings">New Today (42)</a-checkbox>
                <br /><br />
              </div>
              -->
              <div>
                <a-input-search
                  placeholder="kërko shpallje.."
                  style="width: 200px; float: left;"
                  v-model="filterByKeyword"
                  @search="onSearch"
                />
                <br />
                <br />
              </div>

              <div>
                <p>Kategoritë</p>
                <p v-for="cat of categories" :key="cat.id">
                  <a-checkbox
                    v-model="categoryPick[cat.id]"
                    :value="cat.id"
                    @change="showByCategory($event, cat.id)"
                  >{{ cat.name }} ({{ cat.count_posts }})</a-checkbox>
                </p>
              </div>

              <div>
                <p>Qytetet</p>
                <a-radio-group @change="showByCity" v-model="filterByCity">
                  <a-radio
                    :style="radioStyle"
                    v-for="city of cities"
                    :value="city.id"
                    :key="city.id"
                  >{{ city.name }} ({{ city.count_posts}})</a-radio>
                </a-radio-group>
              </div>
            </div>
          </a-col>

          <a-col :span="24" :xs="24" :sm="24" v-if="$mq === 'mobile'">
            <p style="text-align: center; margin-top: 2em; outline:none;">
              <loading :height="48" :width="48" :active.sync="showLoader" :can-cancel="true"></loading>
            </p>
          </a-col>

          <a-col :span="18" :sm="18" :md="18" :xs="18">
            <p style="text-align: center; margin-top: 1em; outline:none;">
              <loading
                :height="48"
                :width="48"
                v-if="$mq !== 'mobile'"
                :active.sync="showLoader"
                :can-cancel="true"
              ></loading>
            </p>
            <a-list v-if="job_applications.length > 0">
              <virtual-scroller
                :class="$mq === 'mobile' ? 'mobile-scroller-list' : 'desktop-scroller-list'"
                :style="$mq !== 'mobile' ? { height:'750px', minWidth: '380px' } : { height: '600px', minWidth: '360px' }"
                :items="job_applications"
                item-height="80"
                v-infinite-scroll="handleInfiniteOnLoad"
                :infinite-scroll-disabled="busy"
                :infinite-scroll-distance="10"
                itemLayout="horizontal"
              >
                <a-list-item slot-scope="{item}" :class="'h-list-item'">
                  <a-list-item-meta>
                    <a slot="title" :href="'jobs/' + item.slug">{{item.title}}</a>
                    <a-avatar
                      :size="64"
                      slot="avatar"
                      shape="square"
                      :src="getCompanyLogoUrl(item)"
                      v-if="item.company.logo !== null"
                    />
                    <a-avatar
                      :size="64"
                      slot="avatar"
                      shape="square"
                      :src="require('@/assets/images/logo_thumb.png')"
                      v-else
                    />
                  </a-list-item-meta>

                  <!--<div style="padding: 0 1em;"><a :href="'jobs/' + item.slug">View Position</a>
                  </div>-->

                  <template slot="actions" v-if="$mq !== 'mobile'">
                    <span>
                      <a-icon type="pushpin-o" style="margin-right: 8px" />
                      <a :href="'/cities/' + item.city.name">{{ item.city.description }}</a>
                    </span>
                    <span>
                      <a-icon type="tag-o" style="margin-right: 8px" />
                      <a
                        v-if="item.categories.length > 0"
                        :href="'/categories/' + item.categories[0].name"
                      >{{ item.categories[0].description }}</a>
                    </span>
                    <span>
                      <a-icon type="clock-circle-o" style="margin-right: 8px" />
                      {{ getEndsAtDate(item.endsAt) }}
                    </span>
                  </template>
                </a-list-item>
              </virtual-scroller>
              <a-spin v-if="loading" class="jobs-loading" />
            </a-list>
            <p v-else>Nuk ka shpallje.</p>
          </a-col>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as moment from "moment";
import Loading from "vue-loading-overlay";

import JOB_APPLICATIONS_QUERY from "@/apollo/queries/allJobApplicationsWithoutDrafts.gql";
import JOB_CITIES_ORDER_BY_POSTS_QUERY from "@/apollo/queries/allCitiesOrderByPosts.gql";
import JOB_CATEGORIES_ORDER_BY_POSTS_QUERY from "@/apollo/queries/allCategoriesOrderByPosts.gql";

export default {
  head() {
    return {
      title: this.title,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content:
            "npune.com është një platformë online e destinuar për gjetje të punës dhe një karriere më të mirë."
        }
      ]
    };
  },

  async asyncData({ app }) {
    const { data } = await app.apolloProvider.defaultClient.query({
      query: JOB_APPLICATIONS_QUERY,
      variables: {
        offset: 0,
        keyword: "",
        time: "",
        jcat: null,
        jcity: null
      }
    });

    const categories = await app.apolloProvider.defaultClient.query({
      query: JOB_CATEGORIES_ORDER_BY_POSTS_QUERY,
      variables: {}
    });

    const cities = await app.apolloProvider.defaultClient.query({
      query: JOB_CITIES_ORDER_BY_POSTS_QUERY,
      variables: {}
    });

    return {
      job_applications: data.allJobApplicationsWithoutDrafts,
      total: data.countJobApplicationsWithoutDrafts,
      categories: categories.data.allCategoriesOrderByPosts,
      cities: cities.data.allCitiesOrderByPosts
    };
  },

  directives: {},

  components: {
    Loading
  },

  data() {
    return {
      isAuthenticated: false,
      showLoader: false,
      busy: false,
      total: 0,
      mobileSelectedCat: null,
      sortDesc: true,
      sortDescAlpha: true,
      title: "npune.com",
      current: ["home"],
      radioStyle: {
        display: "block",
        height: "30px",
        lineHeight: "30px"
      },
      filterByCity: "",
      filterByKeyword: "",
      filters: {
        offset: 0,
        keyword: "",
        time: "",
        category: [],
        city: null,
        mobileCity: null,
        mobileCategory: null
      },
      categories: [],
      cities: [],
      job_applications: [],
      perPage: 25,
      offset: 0,
      pagination: {},
      loading: false,
      selectedRowKeys: [],
      searchText: "",
      categoryPick: [],
      columns: [
        {
          title: "Title",
          dataIndex: "title",
          key: "title",
          scopedSlots: {
            filterDropdown: "filterDropdown",
            filterIcon: "filterIcon",
            customRender: "customRender"
          },
          onFilter: (value, record) =>
            record.name.toLowerCase().includes(value.toLowerCase()),
          onFilterDropdownVisibleChange: visible => {
            if (visible) {
              setTimeout(() => {
                this.$refs.searchInput.focus();
              });
            }
          }
        },
        {
          title: "Action",
          key: "action",
          scopedSlots: { customRender: "action" }
        }
      ]
    };
  },

  beforeMount() {
    this.showLoader = true;
  },

  mounted() {
    this.isAuthenticated = !!this.$apolloHelpers.getToken();
    // this.getCategoriesOrderByPosts();
    this.showLoader = false;
  },

  created() {
    this.$bus.$on("handle-on-search-from-navbar", data => {
      this.filterByKeyword = data;
      this.onSearch();
    });
  },

  methods: {
    moment,

    async handleInfiniteOnLoad() {
      const tempData = this.job_applications;
      this.loading = true;

      const keyword = this.filters.keyword;
      let offset = this.job_applications.length;

      const time = this.filters.time;
      const city = parseInt(this.filters.city);
      const category = parseInt(this.filters.category);

      const apolloClient = this.$apollo.provider.defaultClient;

      await apolloClient
        .query({
          query: JOB_APPLICATIONS_QUERY,
          variables: {
            offset,
            keyword,
            time,
            jcat: category,
            jcity: city
          }
        })
        .then(({ data }) => {
          this.loading = false;
          if (data.allJobApplicationsWithoutDrafts.length > this.perPage) {
            this.$message.warning("No more jobs to show!");
            this.busy = true;
            this.loading = false;
            return;
          }

          this.job_applications = this.job_applications.concat(
            data.allJobApplicationsWithoutDrafts
          );
          return data;
        })
        .catch(err => {
          this.loading = false;
        });
    },

    async getFilteredData() {
      const keyword = this.filters.keyword;
      let offset = 0;

      // const offset = (this.job_applications.length > 0 ) ? this.job_applications.length + this.perPage : 0;
      const time = this.filters.time;
      const city = parseInt(this.filters.city);
      const category = this.filters.category;

      const apolloClient = this.$apollo.provider.defaultClient;

      this.loading = true;
      this.showLoader = true;

      await apolloClient
        .query({
          query: JOB_APPLICATIONS_QUERY,
          variables: {
            offset,
            keyword,
            time,
            jcat: category,
            jcity: city
          }
        })
        .then(({ data }) => {
          this.loading = false;
          if (data.allJobApplicationsWithoutDrafts.length > this.perPage) {
            this.$message.warning("No more jobs to show!");
            this.busy = true;
            this.loading = false;
            return;
          }

          this.job_applications = data.allJobApplicationsWithoutDrafts;
          this.showLoader = false;
          return data;
        })
        .catch(err => {
          this.loading = false;
          this.showLoader = false;
        });
    },

    sortMenuClick(e) {
      if (e.key == "1") {
        // sort by published at
        if (!this.sortDesc) {
          this.job_applications = this.job_applications.sort(function(a, b) {
            var key1 = new Date(a.insertedAt);
            var key2 = new Date(b.insertedAt);

            if (key1 < key2) {
              return -1;
            } else if (key1 == key2) {
              return 0;
            } else {
              return 1;
            }
          });
          this.sortDesc = true;
        } else {
          this.job_applications = this.job_applications.sort(function(a, b) {
            var key1 = new Date(a.insertedAt);
            var key2 = new Date(b.insertedAt);

            if (key1 > key2) {
              return -1;
            } else if (key1 == key2) {
              return 0;
            } else {
              return 1;
            }
          });
          this.sortDesc = false;
        }
      } else if (e.key == "2") {
        // sort alphabetically
        if (this.sortDescAlpha) {
          this.job_applications = this.job_applications.sort(function(a, b) {
            if (a.title < b.title) {
              return -1;
            }
            if (a.title > b.title) {
              return 1;
            }
            return 0;
          });
          this.sortDescAlpha = false;
        } else {
          this.job_applications = this.job_applications.sort(function(a, b) {
            if (a.title > b.title) {
              return -1;
            }
            if (a.title < b.title) {
              return 1;
            }
            return 0;
          });
          this.sortDescAlpha = true;
        }
      }
    },

    showOnlyTodayListings(e) {
      const now = moment();
      const jobs = [];

      if (e.target.checked) {
        this.filters.time = now;
      } else {
        this.filters.time = "";
      }

      this.getFilteredData();
    },

    async handleCategoryChange(val) {
      this.filters.category = parseInt(val);
      await this.getFilteredData();
    },

    async handleCityChange(val) {
      if (this.filters.category !== null) {
        if (this.filters.category.length == 0) {
          this.filters.category = null;
        }
      }

      this.filters.city = parseInt(val);

      await this.getFilteredData();
    },

    async showByCategory(e, cat) {
      if (this.filters.category == null) {
        this.filters.category = [];
      }

      this.filters.category.forEach((c, idx) => {
        if (c === parseInt(cat)) {
          this.filters.category.splice(idx, 1);
        }

        if (this.filters.category.length == 0) {
          this.filters.category = null;
        }
      });

      if (e.target.checked) {
        this.filters.category.push(parseInt(cat));
      }

      await this.getFilteredData();
    },

    async showByCity(e) {
      this.filters.city = parseInt(this.filterByCity);
      if (
        this.filters.category instanceof Array &&
        this.filters.category.length == 0
      ) {
        this.filters.category = null;
      }

      await this.getFilteredData();
    },

    async onSearch() {
      if (this.filterByKeyword.length >= 2) {
        this.filters.keyword = this.filterByKeyword;
        if (
          this.filters.category instanceof Array &&
          this.filters.category.length == 0
        ) {
          this.filters.category = null;
        }
      } else {
        this.filters.keyword = "";
      }

      await this.getFilteredData();
    },

    onSelectChange(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
    },

    getCompanyLogoUrl(item) {
      return `${process.env.SERVER_STATIC_URL}/companies/${item.company.id}/${item.company.logo.fileName}`;
    },

    getEndsAtDate(endsAtDate) {
      if (endsAtDate === null) {
        return "-";
      }
      return moment(endsAtDate).format("YYYY-MM-DD");
    },

    async clearSearchFilters() {
      this.filters.city = null;
      this.filters.category = null;
      this.filters.mobileCategory = null;
      this.filters.mobileCity = null;
      this.filters.keyword = "";
      this.filters.time = "";
      this.filterByKeyword = "";
      this.filterByCity = "";

      this.categoryPick = [];

      await this.getFilteredData();
    },

    viewPosition(item) {
      this.$router.push({
        name: "jobs-slug",
        path: `/jobs/${item.slug}`,
        params: { slug: item.slug }
      });
    }
  }
};
</script>

<style scoped>
.mobile-content-wrapper {
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center -65px;
}

.desktop-scroller-list .ant-avatar > img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

.mobile-add-btn {
  color: #fff;
  background-color: #3f51b5;
  border-color: #bf0028;
}

.mobile-filters-wrapper {
  margin-top: 1.5em;
}

.mobile-clear-p {
  position: absolute;
  left: 29%;
  bottom: -55px;
  color: #ffffff;
  font-size: 12px;
}

.job-content-header {
  margin-top: 2em;
}

.job-main-filters {
  margin-top: 1em;
}

.job-main {
  margin-top: 2em;
}

.job {
  clear: both;
  min-height: 150px;
  border: 1px dotted #444444;
}

.job .company_logo {
  width: 25%;
  float: left;
}

.job .company_logo img {
  max-width: 100%;
  width: 100%;
}

.job-content {
  margin: 30px 0;
  height: auto;
  min-height: 850px;
}

.job-item-details {
}

.job-item-details ul {
  padding: 0;
}

.h-list-item {
  padding: 16px;
  background: #ffffff;
  -webkit-box-shadow: inset -1px 0 0 0 rgba(224, 227, 231, 0.6),
    inset 0 -1px 0 0 #e0e4e7, inset 1px 0 0 0 rgba(224, 227, 231, 0.6);
  box-shadow: inset -1px 0 0 0 rgba(224, 227, 231, 0.6),
    inset 0 -1px 0 0 #e0e4e7, inset 1px 0 0 0 rgba(224, 227, 231, 0.6);
  margin-bottom: 1em;
  margin-right: 1em;
}

.job-item-details ul li {
  display: inline-block;
}

.mobile-job-content {
  margin: 0;
  height: auto;
  min-height: 800px;
  padding-top: 15px;
}

.mobile-job-content label {
  color: #ffffff;
  display: block;
  font-weight: bold;
  text-align: center;
}

.mobile-reset-search {
  position: absolute;
  top: 45px;
  left: 100px;
}

.job .job-content-text {
  width: 60%;
  margin-left: 10%;
  float: left;
}

.jobs-loading {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
</style>

