<template>
  <div class="container category-archive-wrapper">
    <a-list
      itemLayout="vertical"
      size="large"
      :pagination="pagination"
      :dataSource="job_applications"
    >
      <div slot="header">Shpalljet në qytetin <b>{{ city.description }}</b></div>

      <!--<div slot="footer"><b>ant design vue</b> footer part</div>-->
      <a-list-item slot="renderItem" slot-scope="item, index" :key="item.title" :class="'h-city-item'">
        <template slot="actions">
          <!--<span>
            <a-icon type="pushpin-o" style="margin-right: 8px" />
            {{ item.city.description }}
          </span>-->
          <span>
            <a-icon type="tag-o" style="margin-right: 8px" />
            <a :href="'/categories/' + cat.name" :key="'archive-cat-' + cat.id" v-for="cat in item.categories" v-if="item.categories.length > 0"><a-badge status="default" />{{ cat.description }}&nbsp;</a>
          </span>
          <span>
            <a-icon type="clock-circle-o" style="margin-right: 8px" />
            {{ getEndsAtDate(item.endsAt) }}
          </span>
        </template>

        <div slot="extra" class="category-archive-extra">
          <p><strong>Kompania: </strong><a :href="'/companies/' + item.company.id">{{ item.company.name }}</a></p>
          <p><strong>Qyteti: </strong><a :href="'/cities/' + item.city.name">{{ item.city.description }}</a></p>
        </div>

        <a-list-item-meta
          :description="item.title"
        >
          <a slot="title" :href="'/jobs/' + item.slug">{{item.title}}</a>

          <a-avatar slot="avatar" shape="square" :src="getCompanyLogoUrl(item)" v-if="item.company.logo !== null"/>
          <a-avatar slot="avatar" shape="square" :src="require('@/assets/images/logo_thumb.png')" v-else />
        </a-list-item-meta>
        <!--<div v-html="item.content"></div>-->
      </a-list-item>
    </a-list>
  </div>
</template>

<script>
  import * as moment from 'moment';

  import ALL_JOB_APPLICATIONS_BY_CITY from '~/apollo/queries/allJobApplicationsByCity.gql';
  import SINGLE_CITY_BY_NAME_OR_DESCRIPTION from '~/apollo/queries/singleCityByNameOrDescription.gql';

  export default {
    head() {
      return {
        title: ' Npunë | ' + this.city.description,
      }
    },

    async asyncData({ app }) {
      const { data } = await app.apolloProvider.defaultClient.query({
        query: ALL_JOB_APPLICATIONS_BY_CITY,
        variables: {
          name: app.context.route.params.name,
          keyword: "",
          offset: 0
        }
      });

      const city = await app.apolloProvider.defaultClient.query({
        query: SINGLE_CITY_BY_NAME_OR_DESCRIPTION,
        variables: {
          keyword: app.context.route.params.name
        }
      });

      return {
        job_applications: data.allJobApplicationsByCity,
        city: city.data.singleCityByNameOrDescription[0]
      }
    },

    computed: {
    },

    mounted() {
      // console.log(this.category);
    },

    data() {
      return {
        job_applications: [],
        city: {},
        pagination: {
          onChange: (page) => {
            console.log(page);
          },
          pageSize: 5,
        },
      }
    },

    methods: {
      moment,
      getCompanyLogoUrl(item) {
        return `${process.env.SERVER_STATIC_URL}/companies/${item.company.id}/${item.company.logo.fileName}`;
      },

      getEndsAtDate(endsAtDate) {
        if(endsAtDate === null) {
          return '-';
        }
        return moment(endsAtDate).format('YYYY-MM-DD');
      },
    }
  }
</script>

<style scoped>
  .category-archive-wrapper {
    min-height:355px;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .category-archive-extra p {
    text-align: right;
  }
  .ant-list-vertical .ant-list-item-meta-avatar {
    display: block;
  }
  .h-city-item {
    padding: 16px;
    background: #ffffff;
    -webkit-box-shadow: inset -1px 0 0 0 rgba(224, 227, 231, .6), inset 0 -1px 0 0 #e0e4e7, inset 1px 0 0 0 rgba(224, 227, 231, .6);
    box-shadow: inset -1px 0 0 0 rgba(224, 227, 231, .6), inset 0 -1px 0 0 #e0e4e7, inset 1px 0 0 0 rgba(224, 227, 231, .6);
    margin-bottom: 1em;
  }
</style>
