<template>
  <div class="edit-company-wrapper">
    <a-layout-header style="background: #fff; padding: 0" />
    <a-layout-content style="margin: 0 16px">
      <a-breadcrumb style="margin: 16px 0">
        <a-breadcrumb-item>Home</a-breadcrumb-item>
        <a-breadcrumb-item>Companies</a-breadcrumb-item>
      </a-breadcrumb>
      <div :style="{ padding: '24px', background: '#fff', minHeight: '360px' }">
        <a-button class="editable-add-btn" @click="handleRedirectBack">Back</a-button>&nbsp;
        <br />
        <a-row type="flex" justify="space-around" align="middle">
          <a-col :span="10">
            <a-form
              :loading="loading"
              :form="(form) => { this.form = form }"
              @submit.prevent="onSubmitEditCompany"
              class="job-application-form"
            >
              <a-form-item label="Name">
                <a-input
                  type="text"
                  placeholder="company name"
                  v-model="company.name"
                  ref="nameInput"
                >
                  <a-icon v-if="company.name" type="close-circle" />
                </a-input>
              </a-form-item>

              <a-form-item label="Address">
                <a-input
                  type="text"
                  placeholder="company address"
                  v-model="company.address"
                  ref="addressInput"
                >
                  <a-icon slot="prefix" type="environment-o" />
                </a-input>
              </a-form-item>

              <a-form-item label="Email">
                <a-input type="email" placeholder="email" v-model="company.email" ref="emailInput">
                  <a-icon slot="prefix" type="mail" />
                  <a-icon v-if="company.email" type="close-circle" />
                </a-input>
              </a-form-item>

              <a-form-item label="Phone">
                <a-input
                  type="text"
                  placeholder="company phone"
                  v-model="company.phone"
                  ref="phoneInput"
                >
                  <a-icon slot="prefix" type="phone" />
                </a-input>
              </a-form-item>

              <a-form-item label="Company Logo">
                <div class="dropbox">
                  <a-upload
                    name="file"
                    :multiple="false"
                    action
                    :defaultFileList="documentList"
                    @change="handleChange"
                  >
                    <a-button>
                      <a-icon type="upload" />Click to Upload
                    </a-button>
                  </a-upload>
                </div>
              </a-form-item>

              <a-form-item>
                <a-button
                  type="primary"
                  htmlType="submit"
                  class="register-form-button"
                >Update Company</a-button>
              </a-form-item>
            </a-form>
          </a-col>
        </a-row>
      </div>
    </a-layout-content>
  </div>
</template>

<script>
import ApolloClient from "apollo-client";
import { InMemoryCache } from "apollo-cache-inmemory";
import { createLink } from "apollo-absinthe-upload-link";

import SINGLE_COMPANY_QUERY from "~/apollo/queries/singleCompany.gql";
import UPDATE_COMPANY_MUTATION from "~/apollo/mutations/updateCompany.gql";
import UPLOAD_COMPANY_LOGO_MUTATION from "~/apollo/mutations/uploadCompanyLogo.gql";

const client = new ApolloClient({
  link: createLink({
    uri: process.env.HTTP_ENDPOINT || "http://localhost:4000/api/v1/graphql"
  }),
  cache: new InMemoryCache()
});

export default {
  layout: "backend",

  head() {
    return {
      title: "Edit Company",
      meta: [
        {
          hid: "edit company",
          name: "edit company",
          content: "Backend | Companies"
        }
      ]
    };
  },

  async asyncData({ app }) {
    const { data } = await app.apolloProvider.defaultClient.query({
      query: SINGLE_COMPANY_QUERY,
      variables: {
        id: app.context.route.params.id
      }
    });

    console.log("data: ", data);

    return {
      company: data.singleCompany
    };
  },

  /*apollo: {
    singleCompany: {
      query:  SINGLE_COMPANY_QUERY,
      prefetch: ({ route }) => ({ id: route.params.id }),
      variables() {
        return { id: this.$route.params.id }
      },
      result({data}){
        this.loading = true;
        this.company = data.singleCompany;
        this.loading = false;
      }
    }
  },*/

  data() {
    return {
      loading: false,
      submitting: false,
      companyEdited: false,
      errors: false,
      company: {},
      logo: null,
      form: null,
      validName: "",
      validEmail: ""
    };
  },

  watch: {},

  mounted() {},

  computed: {
    documentList: function() {
      const docList = [];
      console.log(this.company.logo);
      if (this.company.logo !== null) {
        docList.push({
          uid: 1,
          name: this.company.logo.fileName,
          url: `${process.env.SERVER_STATIC_URL}/companies/${this.$route.params.id}/${this.company.logo.fileName}`,
          thumbUrl: `${process.env.SERVER_STATIC_URL}/companies/${this.$route.params.id}/${this.company.logo.fileName}`
        });
      }

      return docList;
    }
  },

  methods: {
    async onSubmitEditCompany() {
      this.form.validateFields((err, values) => {
        if (err) {
          this.submitting = false;
          this.errors = true;
        } else {
          this.errors = false;
        }
      });

      if (!this.errors) {
        const formData = new FormData();
        this.submitting = true;

        await client
          .mutate({
            mutation: UPDATE_COMPANY_MUTATION,
            variables: {
              input: {
                id: this.company.id,
                address: this.company.address,
                name: this.company.name,
                phone: this.company.phone,
                email: this.company.email
              }
            }
          })
          .then(({ data }) => {
            console.log("company: ", data);
            this.$message.success("Company updated successfully!");
            return data;
          })
          .catch(err => {
            console.log("err: ", err);
          });

        if (this.logo !== null) {
          await client
            .mutate({
              mutation: UPLOAD_COMPANY_LOGO_MUTATION,
              variables: {
                logo: this.logo,
                companyId: this.$route.params.id
              }
            })
            .then(({ data }) => {
              console.log("logo: ", data);
            })
            .catch(err => {
              this.errors = true;
              console.log("err: ", err);
            });
        }
      }
    },

    handleRedirectBack() {
      this.$router.push({ path: "/backend/admin/companies" });
    },

    handleChange(info) {
      if (info.file.status === "done") {
        console.log(info.file);
        this.logo = info.file.originFileObj;
      }
    },

    isEmail() {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      return re.test(this.company.email);
    }
  }
};
</script>

<style>
</style>
