<template>
  <div id="main-footer" :class="($mq === 'mobile') ? 'mobile-main-footer-wrapper' : 'main-footer-wrapper'">
      <div class="container">
        <a-row>
          <a-col :span="6" :md="6" :lg="6" :sm="24" :xs="24" class="f-item">
            <h4>Info</h4>
            <p><strong>npune.com</strong> është një platformë online e destinuar për gjetje të  punës dhe një karriere më të mirë.</p>
          </a-col>

          <a-col :span="6" :md="6" :lg="6" :sm="24" :xs="24" class="f-item">
            <h4>Adresa</h4>
            <p>Prishtine, 10000</p>
          </a-col>

          <a-col :span="6" :md="6" :lg="6" :sm="24" :xs="24" class="f-item">
            <h4>Email</h4>
            <p>info@npune.com</p>
          </a-col>

          <a-col :span="6" :md="6" :lg="6" :sm="24" :xs="24" class="f-item">
            <h4>&copy; Npune.com</h4>
            <p>Të gjitha të drejtat e rezervuara</p>
          </a-col>
        </a-row>
      </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        current: ['home'],
        isAuthenticated: false
      }
    },

    mounted() {
      this.isAuthenticated = !!this.$apolloHelpers.getToken();
    }
  }
</script>

<style>
#main-footer {
  min-height: 200px;
  background:#282828;
}
.mobile-main-footer-wrapper {
  text-align: center;
}
.f-item {
  padding: 20px 0;
  color: #f5f5f5;
}
.f-item h4 {
  color: #f5f5f5;
}
</style>
