<template>
  <a-layout-header :class="$mq === 'mobile' ? 'mobile-header-wrapper' : 'header-wrapper'">
    <div class="container" v-if="$mq === 'mobile'">
      <a-row>
        <a-col :span="4" :xs="4">
          <SlideMenu left>
            <nav id="mobile-menu">
              <ul>
                <li><nuxt-link to="/"><a-icon type="home" /> Ballina</nuxt-link></li>
                <li><nuxt-link to="/about"><a-icon type="notification" /> Për ne</nuxt-link></li>
                <li><nuxt-link to="/contact">
                  <a-icon type="compass" /> Kontakt
                </nuxt-link></li>
                <li><nuxt-link to="/new-job-application"><a-icon type="paper-clip" /> Posto shpallje</nuxt-link></li>
              </ul>
            </nav>
          </SlideMenu>
        </a-col>
        <a-col :span="16" :xs="16">
          <div class="logo">
            <nuxt-link to="/"><img src="~/assets/images/logo-invers.png" alt="N'punë" /></nuxt-link>
          </div>
        </a-col>
        <a-col :span="4" :xs="4">
          <a-button
            v-if="$nuxt.$route.path === '/'"
            shape="circle"
            icon="search"
            class="mobile-search-icon"
            @click="() => searchTextModal = true" />
        </a-col>
      </a-row>
    </div>

    <a-modal
      v-if="$mq === 'mobile'"
      title="Kërko"
      centered
      v-model="searchTextModal"
      @ok="onSearch"
    >
      <div>
        <a-input-search
          placeholder="kërko shpallje"
          style="width: 200px; float: left;"
          v-model="searchText"
          @search="onSearch"
        />
      </div><br />
    </a-modal>

    <div class="container" v-else>
      <a-row>
        <a-col :span="4">
          <div class="logo">
            <nuxt-link to="/"><img src="~/assets/images/logo-invers.png" alt="N'punë" /></nuxt-link>
          </div>
        </a-col>

        <a-col :span="10" :xs="20" :md="10" :sm="10" :lg="10" :offset="($mq !== 'mobile') ? 4 : 0">
          <a-row type="flex" justify="end">
            <a-menu
              class="header-menu-right"
              v-model="current"
              mode="horizontal"
            >
              <a-menu-item key="home">
              <nuxt-link to="/"><a-icon type="home" /> Ballina</nuxt-link>
              </a-menu-item>

              <a-menu-item key="about">
                <nuxt-link to="/about"><a-icon type="notification" /> Për ne</nuxt-link>
              </a-menu-item>

              <a-menu-item key="contact">
                <nuxt-link to="/contact">
                  <a-icon type="compass" /> Kontakt
                </nuxt-link>
              </a-menu-item>

              <!--<a-menu-item key="contact">-->
                <!--<nuxt-link to="/contact"><a-icon type="compass" /> Post a Job </nuxt-link>-->
              <!--</a-menu-item>-->
            </a-menu>
          </a-row>
        </a-col>

        <a-col :span="6" v-if="$mq !== 'mobile'">
          <a-row type="flex" justify="end">
            <a-menu class="header-menu-btns" mode="horizontal">
              <nuxt-link v-if="!isAuthenticated" to="/new-job-application"><a-button icon="compass">Posto shpallje</a-button></nuxt-link>&nbsp;
              <!--<nuxt-link v-if="!isAuthenticated" to="/login"><a-button icon="unlock">Login</a-button></nuxt-link>&nbsp;-->
              <!--<nuxt-link v-if="!isAuthenticated" to="/register"><a-button icon="lock">Register</a-button></nuxt-link>-->

              <nuxt-link v-if="isAuthenticated" to="/backend/admin/dashboard"><a-button icon="home">Dashboard</a-button></nuxt-link>
            </a-menu>
          </a-row>
        </a-col>
      </a-row>
    </div>
  </a-layout-header>
</template>

<script>
  export default {
    data() {
      return {
        current: ['home'],
        searchText: '',
        searchTextModal: false,
        isAuthenticated: false
      }
    },

    mounted() {
      this.isAuthenticated = !!this.$apolloHelpers.getToken();
    },

    methods: {
      onSearch() {
        this.$bus.$emit('handle-on-search-from-navbar', this.searchText);
      },
    }
  }
</script>

<style scoped>
  .mobile-header-wrapper {
    padding: 0;
    background: #001a43;
    color: #ffffff;
  }

  .mobile-header-wrapper .logo {
    text-align: center;
  }

  .mobile-header-wrapper .mobile-search-icon {
    float: right;
    top: 15px;
  }

  #mobile-menu ul {
    list-style: none;
  }

  #mobile-menu ul li a {
    color: #ffffff;
  }


  .header-wrapper {
      background: #001a43;
  }

  .content-sidebar-wrapper {
    background: #f0f2f5;
  }

  .header-menu-right {
    border: none;
    margin-top: 16px;
    background: none;
  }

  .header-menu-right li {
    color: #ffffff;
  }
  .header-menu-right li a {
    color: #ffffff;
  }

  .header-menu-btns {
    border: none;
    margin-top: 16px;
    background: none;
  }
</style>
