<template>
  <div class="container content-wrapper">
    <div class="single-job-container">
      <a-row :gutter="16">
        <a-col :span="($mq === 'mobile') ? 24 : 18">
          <a-card title="Shpallja" :bordered=false>
            <h1>{{ job_application.title }}</h1>
            <div v-html="job_application.content"> </div>
            <div class="f-document-list" v-if="documentList.length > 0">
              <h5>Dokumentat: </h5>
              <a-upload :defaultFileList="documentList" :showPreviewIcon ="true" :showRemoveIcon="false">
              </a-upload>
            </div>
          </a-card>
        </a-col>
        <a-col :span="($mq === 'mobile') ? 24 : 6">
          <a-card title="Informata Tjera" :bordered=false>
            <p><strong>Kompania: </strong><a :href="'/companies/' + job_application.company.id">{{ job_application.company.name }}</a></p>
            <p><strong>Qyteti: </strong> <a :href="'/cities/' + job_application.city.name">{{ job_application.city.description }}</a></p>

            <p v-if="job_application.categories.length > 0"><strong>Kategoritë: </strong>
              <span>
                <a :href="'/categories/' + cat.name" :key="'archive-cat-' + cat.id" v-for="cat in job_application.categories" v-if="job_application.categories.length > 0"><a-badge status="default" />{{ cat.description }}&nbsp;</a>
              </span>
            </p>
          </a-card>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script>
  import * as moment from 'moment';

  import SINGLE_JOB_APPLICATION_BY_SLUG_QUERY from '~/apollo/queries/singleJobApplicationBySlug.gql';

  export default {
    head() {
      return {
        title: 'Npunë | ' + this.job_application.title,
        meta: [
          { hid: 'job application', name: 'job application', content: ''}
        ]
      }
    },

    async asyncData({ app }) {
      const { data } = await app.apolloProvider.defaultClient.query({
        query: SINGLE_JOB_APPLICATION_BY_SLUG_QUERY,
        variables: {
          slug: app.context.route.params.slug
        }
      });

      return {
        job_application: data.singleJobApplicationBySlug
      }
    },

    computed: {
      documentList: function() {
        const docList = [];
        if(this.job_application.documents.length > 0) {
          this.job_application.documents.forEach((doc, idx) => {
            docList.push({
              uid: idx,
              name: doc.path,
              url: `${process.env.SERVER_STATIC_URL}/documents/${this.job_application.id}/${doc.path}`,
              thumbUrl: `${process.env.SERVER_STATIC_URL}/documents/${this.job_application.id}/${doc.path}`
            })
          });
        }

        return docList;
      }
    },

    // apollo: {
    //   singleJobApplicationBySlug: {
    //     query: SINGLE_JOB_APPLICATION_BY_SLUG_QUERY,
    //     prefetch: ({ route }) => ({ slug: route.params.slug }),
    //     variables() {
    //       return { slug: this.$route.params.slug }
    //     },
    //     result({ data }) {
    //       console.log('::: DATA ::: ', data);
    //       this.job_application = data.singleJobApplicationBySlug;
    //       this.job_application.company_id = this.job_application.company.id;
    //     }
    //   }
    // },

    mounted() {

    },

    data() {
      return {
        job_application: {
          title: '',
          content: '',
          slug: '',
          address: '',
          status: 'publish',
          priority: 'lowest priority (1)',
          source: '',
          ends_at: '',
          published_at: '',
          company_id: '',
          categories: [],
          defaultFileList: [],
          is_scheduled: false
        },
      }
    },

    methods: {
      moment,
    }
  }
</script>

<style>
.single-job-container {
  padding: 30px 0;
}

.f-document-list .ant-upload-list-item .anticon-cross{
  display: none!important;
}

</style>
